nav{
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    background-color: #E0EFFF;
    border: 1px solid;
}

.menubar:hover, .signout_btn:hover, li:hover{
    cursor: pointer;
    background-color: #0078D4;
}
li:hover{
    text-decoration: white underline;
}

.menubar{
    background-color: #E0EFFF;
    display: block;
    padding: 10px;
    text-align: center;
    position: relative;
}
.menuActive {
    background-color: #0078D4;
    color: white;
    border: 1px black solid;
}
.navlist{
    display: none;
}

.signout_btn{
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.signout_btn:hover{
    color: white;
}

.dropdownmenu > li a{
    color: black;
    text-decoration: none;
}
.dropdownmenu li a:hover, .dropdownmenu li svg:hover{
    color: white;
    fill: white;
}
svg{
    margin-right: 4px;
}

.dropdownmenu{
    background-color: #FAFAFA;
    border: 1px solid;
    list-style-type: none;
    text-align: left;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

@media screen and (min-width: 801px){
    .menubar{
        display: none;
    }

    .navlist{
        display: flex;
        align-items: center;
    }
    .navlist > div a{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: Inter;
        text-decoration: none;
        color: black;
    }
    .navlist > .link{
        padding: 0px 20px;
        display: flex;
        align-items: center;
    }
    .navlist > .link:hover{
        background-color: #0078D4;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .navlink div svg:hover{
        fill: white;
    }
    .navlist > div a:hover, .navlist > div svg:hover{
        color: white;
        fill: white;
    }
    .line{
        border-left: 1px solid ;
        height: 30px;
    }
}
