.head{
    display: flex;
}
.head{
    margin: 20px 0px 0px 10px;
}
.container .head div{
    font-size: 32px;
}
.left .month{
    font-size: 36px;
}
.left .year{
    font-size: 16px;
}
.head > div a{
    text-decoration: none;
    margin-right: 8px;
}

.filter > div .input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #E0EFFF;
    border-radius: 15px;
    padding: 10px;
}

.filter div > .icon {
    margin-right: 6px;
}
.filter div > select, .filter div > input{
    width: 60%;
}
.filter div > input[type=text]{
    border: none;
    border-bottom: 2px solid ;
    background-color: #E0EFFF;
    width: 60%;
}
.filter div > input[type=date]{
    width: 30%;
}

.filter .input_datetime .input > div{
    margin: 0px 5px;
}

.filter .button{
    display: flex;
    justify-content: center;
    background-color: #ffff;
}
.filter .button > div{
    background-color: #0078D4;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.filter .button > div:hover{
    cursor: pointer;
}

.results{
    margin: 0px 10px;
    background-color: #E0EFFF;
    border-radius: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.results .showresults{
    margin: 0px 5px;
}
.results .showresults .head , .details > div{
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
}

.results .showresults .head .left{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.results .showresults .head .left .month{
    font-size: 36px;
}
.results .showresults .head .left .day{
    font-size: 14px;
}
.results .showresults .head .right{
    display: flex;
    align-items: center;
}
.results .showresults .head .right .salary{
    font-size: 24px;
}

.resultnotes{
    height: 800px;
    overflow-y: scroll;
}

.details{
    height: 40%;
}
.details > div{
    border: 1px solid;
    margin: 20px 0px;
    border-radius: 5px 5px 0px 0px;
}
.details .dateline{
    background-color: #0078D4;
    border-radius: 5px 5px 0px 0px;
}
.details .dateline > p{
    font-size: 36px;
    font-weight: bold;
    color: white;
}
.details .dataline > p{
    font-size: 20px;
}

.topButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.topButton .button{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0078D4;
    opacity: 0.5;
}
.topButton .button:hover{
    opacity: 1.0;
    cursor: pointer;
}

@media screen and (min-width: 801px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head{
        width: 60%;
    }

    .filter{
        width: 60%;
    }
    .filter > div .input{
        height: 40px;
    }
    .filter .button{
        justify-content: flex-start;
    }

    .results{
        width: 40%;
        padding: 30px;
    }
    .showresults .head{
        width: 100%;
    }
    .filter{
        display: grid;
        grid-template-columns: auto auto;
    }
}